@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.WebUtilities
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;
@inject UserSettings UserSettings;
@inject LanguageSettings LanguageSettings;
@inject AppIdentityDbContext identityContext;
@inject ServiceContext dbContext;
@using System.Linq.Dynamic.Core
@inject ISharedService sharedService;

<EDIHeader />
<div class="page">
    <div class="EDIsidebar">
        <EDIMenu />
    </div>

    <div class="EDImain">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa fa-bug" />
@code{
    private bool isAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity.IsAuthenticated;

        sharedService.InitializeUserSettings(user.Identity.Name);
    }
}