@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.WebUtilities
@using System.Linq.Dynamic.Core
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;
@inject UserSettings UserSettings;
@inject LanguageSettings LanguageSettings;
@inject AppIdentityDbContext identityContext;
@inject ServiceContext dbContext;
@inject ISharedService sharedService;

<EDIHeader OnQuestionnaireSave="@QuestionnaireSave" />
<div class="page">
    <div class="EDIsidebar">
        <EDIMenu OnQuestionnaireSave="@QuestionnaireSave" />
    </div>

    <div class="EDImain">
        <div class="container-fluid">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight"
                IconType="IconType.FontAwesome"
                Timeout="5"
                SuccessClass="success-toast-override"                
                SuccessIcon="fa fa-thumbs-up"                
                ErrorIcon="fa fa-bug"
                InfoIcon="fas fa-cloud-upload-alt"
                ShowProgressBar="true" 
                RemoveToastsOnNavigation="false"/>
@code{
    [Parameter]
    public EventCallback<string> OnQuestionnaireSave { get; set; }
    private bool isAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity.IsAuthenticated;

        if (isAuthenticated && UserSettings.UserID is null)
            sharedService.InitializeUserSettings(user.Identity.Name);
    }

    private void QuestionnaireSave(string source)
    {
         StateHasChanged();
    }
}