@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;
@inject UserSettings UserSettings;
@inject LanguageSettings LanguageSettings;
@inject AppIdentityDbContext identityContext;
@inject ServiceContext dbContext;
@using System.Linq.Dynamic.Core

    <AppHeaderEDI />
    
    <div class="container-fluid">
        <!-- *PAGE* -->
        @Body
        <!-- *PAGE* -->
    </div>
    <footer class="app-footer">
        <span class="ml-auto">© <a href="http://www.offordcentre.com/readiness/index.html">Offord Centre for Child Studies</a> | McMaster University & Hamilton Health Sciences, Hamilton ON, Canada | Tel. (905)525-9140 27051</span>
    </footer>


@code{
    private bool isAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
   
    }
}
