@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;

<BlazoredModal DisableBackgroundCancel="true" />
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                SuccessClass="success-toast-override"
                SuccessIconClass="fa fa-thumbs-up"
                ErrorIconClass="fa fa-bug" />

@if (isAuthenticated)
{
    <AppHeader OnToggleClick="@OnToggleClick" />
    <div class="app-body">
        @if (IsAdmin)
        {
            <SidebarNav @ref="SidebarObject" />
        }
        else if (IsTeacher)
        {
            <TeacherSidebarNav @ref="TeacherSidebarObject" />
        }
        else
        {
            <CoordinatorSidebarNav @ref="CoordinatorSidebarObject" />
        }
        <div class="main">
            <div class="container-fluid">
                <!-- *PAGE* -->
                @Body
                <!-- /*PAGE* -->
            </div>
        </div>
        @*<AsideMenu />*@
    </div>
    <footer class="app-footer">
        <span class="ml-auto">© <a href="http://www.offordcentre.com/readiness/index.html">Offord Centre for Child Studies</a> | McMaster University & Hamilton Health Sciences, Hamilton ON, Canada | Tel. (905)525-9140 27051</span>
    </footer>
}
else
{
    @*<div class="login-bg"></div>*@
    <div class="container-fluid">
        <!-- *PAGE* -->
        @Body
        <!-- /*PAGE* -->
    </div>
}

@code{
    private bool isAuthenticated { get; set; }

    public SidebarNav SidebarObject { get; set; }
    public TeacherSidebarNav TeacherSidebarObject { get; set; }
    public CoordinatorSidebarNav CoordinatorSidebarObject { get; set; }

    private bool IsAdmin { get; set; }
    private bool IsTeacher { get; set; }
    private bool IsCoordinator { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity.IsAuthenticated;

        var url = NavigationManager.Uri;

        @if (user.IsInRole("Administrator"))
        {
            IsAdmin = true;
        }
        else if (user.IsInRole("Teacher"))
        {
            IsTeacher = true;
        }
        else
        {
            IsCoordinator = true;
        }
    }

    private void OnToggleClick()
    {
        this.SidebarObject.Sidebar.Toggle();
    }
}
