@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager;
@inject UserSettings UserSettings;
@inject LanguageSettings LanguageSettings;
@inject AppIdentityDbContext identityContext;
@inject ServiceContext dbContext;
@inject IToastService toastService;
@inject ISharedService sharedService;
@using System.Linq.Dynamic.Core
@using Serilog;

<BlazoredToasts Position="ToastPosition.BottomRight"
                IconType="IconType.FontAwesome"
                Timeout="2"
                MaxToastCount="2"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                InfoIcon="fas fa-cloud-upload-alt"
                ShowProgressBar="true" 
                RemoveToastsOnNavigation="true"/>

@if (isAuthenticated)
{
    <AppHeader OnToggleClick="@OnToggleClick" />
    <div class="app-body">
        @if (UserSettings.IsAdmin)
        {
            <SidebarNav @ref="SidebarObject" />
        }
        else if (UserSettings.IsTeacher)
        {
            <TeacherSidebarNav @ref="TeacherSidebarObject" />
        }
        else
        {
            <CoordinatorSidebarNav @ref="CoordinatorSidebarObject" />
        }
        <div class="main">
            <div class="container-fluid">
                <!-- *PAGE* -->
                @Body
                <!-- /*PAGE* -->
            </div>
        </div>
        @*<AsideMenu />*@
    </div>
    <footer class="app-footer">
        <span class="ml-auto">© <a href="http://www.offordcentre.com/readiness/index.html">Offord Centre for Child Studies</a> | McMaster University & Hamilton Health Sciences, Hamilton ON, Canada | Tel. (905)525-9140 27051</span>
    </footer>
}
else
{
    @*<div class="login-bg"></div>*@
    <div class="container-fluid">
        <!-- *PAGE* -->
        @Body
        <!-- /*PAGE* -->
    </div>
}

@code{
    private bool isAuthenticated { get; set; }

    public SidebarNav SidebarObject { get; set; }
    public TeacherSidebarNav TeacherSidebarObject { get; set; }
    public CoordinatorSidebarNav CoordinatorSidebarObject { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity.IsAuthenticated;

        if (isAuthenticated && UserSettings.UserID is null)
            sharedService.InitializeUserSettings(user.Identity.Name);
    }

    private void OnToggleClick()
    {
        if (UserSettings.IsAdmin)
        {
            this.SidebarObject.Sidebar.Toggle();
        }
        else if (UserSettings.IsTeacher)
        {
            this.TeacherSidebarObject.Sidebar.Toggle();
        }
        else if (UserSettings.IsCoordinator)
        {
            this.CoordinatorSidebarObject.Sidebar.Toggle();
        }
    }
}
