################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDI/Infrastructure/Data
/EDI/EDIWeb/Logs
/EDI2020
/EDI/Web/Data/Files/Ontario/File Import Process EDIID.docx
