################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDI/Infrastructure/Data
/EDI/EDIWeb/Logs
/EDI2020
/EDI/Web/Data/Files/Ontario/File Import Process EDIID.docx
/EDI/Web/wwwroot/Upload/Sites20220121_175856.xlsx
/EDI/Web/wwwroot/Upload/Sites20220127_170738.xlsx
/EDI/Web/wwwroot/Upload/Sites20220601_140101.xlsx
/EDI/Web/wwwroot/Upload/Sites20220601_140506.xlsx
/EDI/Web/wwwroot/Upload/Sites20220601_141104.xlsx
/EDI/Web/wwwroot/Upload/Sites20220601_141423.xlsx
/EDI/Web/wwwroot/Upload/Sites20220601_152447.xlsx
/EDI/Web/wwwroot/Upload/Sites20220601_152817.xlsx
/EDI/Web/wwwroot/Upload
/EDI/.vs/EDI/FileContentIndex
/EDI/.vs/EDI/config/applicationhost.config
/EDI/.vs/EDI/DesignTimeBuild/.dtbcache.v2
