@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(".../fonts/Montserrat-Regular.eot?") format("eot"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat") format("svg");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.eot?") format("eot"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat") format("svg");
}

html,
body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    z-index: 10;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.preloading {
    color: #00A69C;
    display: block;
    font-size: 1.5rem;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

select::-ms-expand {
    display: none;
}

@media screen and (min-width: 992px) {
    .form-input {
        max-width: 360px;
        width: 360px;
    }
}

.form-input {
    border-radius: 0;
    height: 45px;
    padding: 10px;
}

.form-input-small {
    max-width: 100px !important;
}

.form-input-medium {
    width: 150px !important;
}

.alert {
    padding-left: 0;
}

.alert-danger {
    background-color: transparent;
    border: 0;
    color: #FB0D0D;
    font-size: 12px;
}

a,
a:active,
a:hover,
a:visited {
    color: #000;
    text-decoration: none;
    transition: color 0.35s;
}

    a:hover,
    a:active {
        color: #75B918;
        transition: color 0.35s;
    }


body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
            }

            .sidebar-nav li a:active, .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: #999999;
        }

            .sidebar-nav > .sidebar-brand a:hover {
                color: #fff;
                background: none;
            }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Height of the footer */
    background: #000000;
}


.top-row {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

.nav-row {
    position: sticky;
    top:auto;
    z-index: -1;
    background-color:#000;
    color:white;
}

.cardHeader
{
    padding:0 0 0 10px;
}

.cardHeaderSticky 
{
    padding: 0 0 0 10px;
    position: sticky;
    top: 0;
}

/*Template Download Button*/

a.btn-purple {
    font-weight: 500;
    color: #7952b3;
    border-color: #7952b3
}

    a.btn-purple:active, a.btn-purple:hover {
        color: #fff;
        background-color: #7952b3;
        border-color: #7952b3
    }

    a.btn-purple:focus {
        box-shadow: 0 0 0 3px rgba(121,82,179,.25)
    }

/* Teacher Left Side Menu - adjust height to change*/
.main-teachertreeview.e-treeview .e-fullrow {
    height: 85px;
}

.main-teachertreeview.e-treeview .e-text-content {
    height: 85px;
}

.main-teachertreeview.e-treeview .e-list-text {
    line-height: normal;
}

/*END Teacher Left Side Menu*/

.teachericon {
    font-size: 36px;
    color: grey;
    padding: 0 10px 0 0;
}

/* Fontawesome Overrides */
.teacher-menu-icon {
    color: #95989a;
    font-size: 36px;
    padding: 0 10px 0 0;
    /*display: inline-block;
    height: 18px;
    margin: 0 0 0 5px;*/
}

.icon {
    font-size: 16px;
    color: grey;
    padding: 0 10px 0 0;
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* height: 18px; */
    /* margin: 0 10px 0 0;*/
}

/* Fontawesome Overrides */
.admin-icon {
    color: #95989a;
    font-size: 18px;
    padding: 0 10px 0 0;
    /*display: inline-block;
    height: 18px;
    margin: 0 0 0 5px;*/
}

.nodeText {
    padding-top: 16px;
    font-size: 20px;
}

.e-sidebar.e-left.e-open {
    padding-left: 0px;
}

.e-treeview .e-list-item.e-active > .e-fullrow {
    /*background-color: #00b8ff;
    background-color:Highlight;*/
    border-color: #007bff;
}

/* Styles for syncfusion form controls - AR*/
    .datepicker {
    max-width:250px;    
}

.numberbox{
    max-width: 250px;
}

/* syncfusion toggle switch */
.e-switch-wrapper.handle-text .e-switch-inner:before {
    color: #ffc107; /* warning */
    left: 3px;
    width: 42px;
    height: 24px;
}

.e-switch-wrapper.handle-text .e-switch-inner:after {
    right: 5px;
    color: #17a2b8; /* info */
    width: 42px;
    height: 24px;
}

.e-switch-wrapper, .e-css.e-switch-wrapper {
    height: 36px;
    width: 108px;
}

div.Valid
{
    border-style:solid;
    border-color:darkgreen;
    border-width:thin;
    background-color:lightgreen;
}

div.InValid {
    border-style: solid;
    border-color: darkred;
    border-width: thin;
    background-color: rosybrown ;
}