@page "/Teachers/New/{SchoolID:int}"
@using Microsoft.AspNetCore.Components.Authorization
@using EDI.Web.Extensions;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService toastService;
@inject ITeacherService TeacherService
@inject ServiceContext dbContext;

@inject NavigationManager NavigationManager
@inject UserSettings UserSettings;

@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
}

@if (!string.IsNullOrEmpty(@ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ErrorMessage
    </div>
}

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:50px;">
            <div class="card-header">
                <strong>New Teacher</strong>
                <div class="pull-right">
                    <button class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Reset" @onclick="Reset"><i class="fa fa-undo fa-1x whiteiconcolor"></i> Reset</button>
                    <button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Back" @onclick="Exit"><i class="fa fa-sign-out-alt fa-1x whiteiconcolor"></i> Exit</button>
                </div>
            </div>
            <TeacherForm @ref="teacherform1" TeacherModel="@TeacherModel" HandleValidSubmit="HandleValidSubmit" />
        </div>

    </div>
</div>

@code {
    [CascadingParameter] public IModalService ModalService { get; set; }
    private string Message { get; set; }
    private string ErrorMessage { get; set; }
    [Parameter]
    public int SchoolID { get; set; } = 0;

    private TeacherItemViewModel TeacherModel { get; set; } = new TeacherItemViewModel();

    TeacherForm teacherform1 = new TeacherForm();

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else if (!UserSettings.IsAdmin)
        {
            NavigationManager.NavigateTo("./dashboard/index");
        }

        if (SchoolID > 0)
        {
            TeacherModel.SchoolId = SchoolID;
            TeacherModel.SiteId = dbContext.Schools.Where(p => p.Id == SchoolID).FirstOrDefault().SiteId;
        }
    }

    private async void HandleValidSubmit()
    {
        if (string.IsNullOrEmpty(TeacherModel.Email))
        {
            ErrorMessage = "Email is required.";
            toastService.ShowError(ErrorMessage);
            return;
        }

        if (string.IsNullOrEmpty(TeacherModel.TeacherName))
        {
            ErrorMessage = "Name is invalid.";
            toastService.ShowError(ErrorMessage);
            return;
        }

        if (!TeacherModel.SchoolId.HasValue)
        {
            ErrorMessage = "School is required.";
            toastService.ShowError(ErrorMessage);
            return;
        }

        if (!ValidateExtension.IsEmailValid(TeacherModel.Email))
        {
            ErrorMessage = "Email is invalid.";
            toastService.ShowError(ErrorMessage);
            return;
        }

        //Console.WriteLine("OnValidSubmit");
        var totalItems = await TeacherService.GetDuplicateCount(TeacherModel.TeacherName, TeacherModel.Email, UserSettings.YearId);

        var totalItems2 = await TeacherService.GetDuplicateCount(TeacherModel.SchoolId.Value, TeacherModel.TeacherNumber, UserSettings.YearId);

        if (totalItems > 0)
        {
            ErrorMessage = "The teacher with the same name and email has already existed.";
            toastService.ShowError(ErrorMessage);
        }
        else if (totalItems2 > 0)
        {
            ErrorMessage = "The teacher with the same teacher number has already existed in the same school.";
            toastService.ShowError(ErrorMessage);
        }
        else
        {
            var teacherstatus = dbContext.TeacherStatuses.Where(p => p.English == "New").FirstOrDefault();
            teacherform1.TeacherModel.TeacherStatusId = teacherstatus.Id;

            int id = await TeacherService.CreateTeacherAsync(teacherform1.TeacherModel);

            Message = "New Teacher added successfully.";
            toastService.ShowSuccess(Message);
            //NavigationManager.NavigateTo("./teachers/edit/" + id);
            NavigationManager.NavigateTo("./teachers/index");
        }
    }

    private void Exit()
    {
        NavigationManager.NavigateTo("./Teachers/index");
    }

    private async void Reset()
    {
        TeacherModel = new TeacherItemViewModel();


        if (SchoolID > 0)
        {
            TeacherModel.SchoolId = SchoolID;
        }
        StateHasChanged();
    }
}
