<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DS_CLIENT_ID" value="171b9d21-dcf9-48ca-8ffc-1da05a630546" />
    <add key="DS_IMPERSONATED_USER_GUID" value="1f8e26a1-0a09-4ff7-9291-209b4cf9f494" />
    <add key="DS_TARGET_ACCOUNT_ID" value="FALSE" />
    <add key="DS_SIGNER_1_EMAIL" value="andrew.renner@phri.ca" />
    <add key="DS_SIGNER_1_NAME" value="Andrew Renner" />
    <add key="DS_AUTH_SERVER" value="https://account-d.docusign.com"/>
    <add key="DS_PRIVATE_KEY" value="629127bd-458c-4404-91f7-cd5c77af0f3c" />
  </appSettings>
</configuration>