@using EDI.ApplicationCore.Models;
@using EDI.Web.Shared.Modals; 
@using System.Text.RegularExpressions;
@inject IToastService toastService;
@inject ISharedService sharedService;
@inject ServiceContext dbContext;

@inject UserSettings UserSettings;
@inject EDIAppSettings AppSettings;

@page "/Contact"

<div class="row">
    <div class="col-md-12">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:30px;">
            <div class="card-header">
                <strong>@Translate("Contact Us")</strong>
            </div>
            <div class="card-body">
                <article id="post-24" class="post-24 page type-page status-publish hentry">
                    <!--<header class="entry-header">

                        <h1 class="entry-title">Contact</h1>
                    </header>-->
                    <!-- .entry-header -->

                    <div class="entry-content">
                        @*<p>Interested in using the EDI? <a href="/contact/interested-in-using-the-edi/">Click here</a> to provide us with some information.</p>*@
                        <table border="0" width="100%" cellspacing="1" cellpadding="2">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <span class="text">
                                            <strong>Mailing Address</strong><br>
                                            McMaster University<br>
                                            1280 Main St. W. MIP 201A<br>
                                            Hamilton, Ontario L8S 4K1<br>
                                        </span>
                                    </td>
                                    <td valign="top">
                                        <span class="text">
                                            <strong>Courier Address</strong><br>
                                            175 Longwood Road S., MIP 201A<br>
                                            Hamilton, ON L8P 0A1<br>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <span class="text">
                                            <span class="text">
                                                <br>
                                                Tel: (905)-525-9140<br>
                                                Fax: (905)-574-6665
                                            </span>
                                        </span><em>
                                            <br>
                                            <a href="mailto:webmaster@e-edi.ca">webmaster@e-edi.ca</a>
                                        </em>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div><!-- .entry-content -->

                    <footer class="entry-meta">
                    </footer><!-- .entry-meta -->
                </article>
            </div>
            <button data-toggle="tooltip" data-placement="bottom" title="Email" @onclick="@SendMessage" class="btn btn-primary"><i class="fa fa-envelope-square fa-1x whiteiconcolor"></i></button>
        </div>
    </div>
</div>


@code {
    [CascadingParameter] public IModalService ModalService { get; set; }
    EmailModel EmailModel { get; set; }

    private async void SendMessage()
    {
        var parameters = new ModalParameters();

        EmailModel = new EmailModel();

        EmailModel.Subject = "Contact EDI Group";

        EmailModel.From = UserSettings.UserName;
        //EmailModel.To = AppSettings.EmailTo;

        EmailModel.Body = string.Empty;

        parameters.Add("EmailModel", EmailModel);

        var modal = ModalService.Show<SendEmailWindow>("Contact EDI", parameters);
        var result = await modal.Result;
        EmailWindowModalClosed(result);
        //*Modal.OnClose += EmailWindowModalClosed;
    }

    async void EmailWindowModalClosed(Blazored.Modal.Services.ModalResult modalResult)
    {
        if (modalResult.Data is EmailModel)
        {
            EmailModel = (EmailModel)modalResult.Data;

            string htmlString = "<html><body><p>";
            string htmlString2 = Regex.Replace(EmailModel.Body, "\r\\D\n?|\n\\D\r?", "</p><p>");
            string htmlString3 = "</p></body></html>";

            string htmlString4 = htmlString + htmlString2 + htmlString3;

            EmailModel.Body = htmlString4;

            string msg = await sharedService.SendEmail(EmailModel);

            if (msg == "Sent.")
            {
                toastService.ShowSuccess("Email was sent successfully.");
            }
            else
            {
                toastService.ShowError(msg);
            }
        }

        //*Modal.OnClose -= EmailWindowModalClosed;

        StateHasChanged();
    }

    private string Translate(string word)
    {
        return sharedService.GetTranslate(word);
    }
}
