@inject IModalService ModalService
@inject ServiceContext dbContext;


<div class="simple-form" style="width:350px;">
    <h2>Are you sure you want to delete this row?</h2> <br />
    <button @onclick="@ConfirmYes" class="btn btn-primary">Yes</button>
    <button @onclick="@Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {  

    void ConfirmYes()
    {
        ModalService.Close(ModalResult.Ok($"Confirmed"));
    }

    void Cancel()
    {
        ModalService.Cancel();
    }
}
