@using Microsoft.AspNetCore.Html
@inject NavigationManager NavigationManager;
<!--<div class="card">
    <div class="card-body">-->
<h3 class="card-title"><a href="@url1" class="card-news" title="@newsobj.Title" target="_blank">@newsobj.Title</a></h3>
<div class="card-text">@((MarkupString)newsobj.Text)</div>
<br />
@if (ShowActions)
{
    <AuthorizeView Roles="Administrator">
        <Authorized>
            <button class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Edit" @onclick="OnEditClick"><i class="fa fa-pencil-alt fa-1x whiteiconcolor"></i> Edit</button>
            <button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete" @onclick="OnDeleteClick"><i class="fa fa-trash-alt fa-1x whiteiconcolor"></i> Delete</button>
        </Authorized>
    </AuthorizeView>
}

<!-- </div>
</div>-->

@code {
    [Parameter]
    public NewsFeedItemViewModel newsobj { get; set; }
    [Parameter]
    public EventCallback OnDeleteClick { get; set; }
    [Parameter]
    public EventCallback OnEditClick { get; set; }
    [Parameter]
    public bool ShowActions { get; set; } = true;

    private string url1 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        url1 = NavigationManager.BaseUri + "NewsFeeds/View/" + newsobj.Id;
    }
}
