@using Syncfusion.Blazor.Buttons
@inject ISharedService sharedService
@inject ServiceContext dbContext;

@inject UserSettings UserSettings;

@if (ShowHeader)
{
    <div class="form-group row">
        <label class="col-md-4 col-form-label" for="AllProvinces">Provinces: </label>
    </div>
}

<div class="form-group row">
    @foreach (var option in AllProvinces)
    {
        <div class="input-group col-md-2">
            <SfCheckBox Label="@option.English" LabelPosition="LabelPosition.After" @onchange="@((ev) => CheckBoxValueChange(ev, option.English))" Checked=@ProvinceConfigModel.GetType().GetProperty((option.English).Replace(" ", "")).GetValue(ProvinceConfigModel).Equals(true) CssClass="e-info"></SfCheckBox>
        </div>
    }
</div>

@code {
    [Parameter]
    public BaseModelProvince ProvinceConfigModel { get; set; }
    [Parameter]
    public bool ShowHeader { get; set; } = true;

    IEnumerable<ProvinceItemViewModel> AllProvinces { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var countryidusa = 0;// dbContext.Countries.Where(p => p.English == "United States").FirstOrDefault().Id;
        var countryidcad = dbContext.Countries.Where(p => p.English == "Canada").FirstOrDefault().Id;
        var countryidbarb = 0;// dbContext.Countries.Where(p => p.English == "Barbados").FirstOrDefault().Id;
                              //var allprovinces = await Task.FromResult(dbContext.Provinces.Where(p => p.CountryID == countryidusa || p.CountryID == countryidcad || p.CountryID == countryidbarb).OrderBy(p => p.CountryID).OrderBy(p => p.English).ToList());
        var allprovinces = await Task.FromResult(dbContext.Provinces.Where(p => p.YearId == UserSettings.YearId && p.EDICode >= 0).OrderBy(p => p.CountryID).OrderBy(p => p.English).ToList());

        List<ProvinceItemViewModel> sivm = new List<ProvinceItemViewModel>();

        foreach (var province in allprovinces)
        {
            var aprovince = new ProvinceItemViewModel();

            aprovince.Id = province.Id;
            aprovince.Code = province.Code;
            aprovince.EDICode = province.EDICode;
            aprovince.English = province.English;
            aprovince.French = province.French;
            aprovince.CountryID = province.CountryID;

            var country = dbContext.Countries.Where(p => p.Id == province.CountryID).FirstOrDefault();
            aprovince.Country = country.English;

            sivm.Add(aprovince);
        }

        AllProvinces = sivm;
    }

    private void CheckBoxValueChange(Microsoft.AspNetCore.Components.ChangeEventArgs e, string name)
    {
        string selectedString = e.Value.ToString();

        ProvinceConfigModel.GetType().GetProperty((name).Replace(" ", "")).SetValue(ProvinceConfigModel, false);

        if (bool.TryParse(selectedString, out bool value))
        {
            ProvinceConfigModel.GetType().GetProperty((name).Replace(" ", "")).SetValue(ProvinceConfigModel, value);
        }
    }
}

<style>
    .e-checkbox-wrapper.e-primary:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #e03872;
    }

    .e-checkbox-wrapper.e-success .e-frame.e-check,
    .e-checkbox-wrapper.e-success .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #689f38;
    }

    .e-checkbox-wrapper.e-success:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #449d44;
    }

    .e-checkbox-wrapper.e-info .e-frame.e-check,
    .e-checkbox-wrapper.e-info .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #2196f3;
    }

    .e-checkbox-wrapper.e-info:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #0b7dda;
    }

    .e-checkbox-wrapper.e-warning .e-frame.e-check,
    .e-checkbox-wrapper.e-warning .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #ef6c00;
    }

    .e-checkbox-wrapper.e-warning:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #cc5c00;
    }

    .e-checkbox-wrapper.e-danger .e-frame.e-check,
    .e-checkbox-wrapper.e-danger .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #d84315;
    }

    .e-checkbox-wrapper.e-danger:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
        background-color: #ba3912;
    }
</style>
