@inject NavigationManager NavigationManager
@inject IAccountService accountService
@inject IFormService formService
@inject ServiceContext dbContext;

<EditForm Model="@RoleModel" OnValidSubmit="@HandleValidSubmit" enctype="multipart/form-data" class="form-horizontal">
    <div class="card-body">
        <DataAnnotationsValidator />
        <div class="text-danger"><ValidationSummary /></div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="Name">Name<i class="fa fa-asterisk fa-1x text-danger" data-toggle="tooltip" data-placement="right" title="Required field."></i>: </label>
            <input type="text" @bind-value="RoleModel.Name" class="col-md-7 form-control" placeholder="Name" />
        </div>        

    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success"><i class="fa fa-save bg whiteiconcolor"></i> Save</button>
    </div>
</EditForm>


@code {
    [Parameter]
    public RoleItemViewModel RoleModel { get; set; }

    [Parameter]
    public EventCallback HandleValidSubmit { get; set; }
}
