@using Syncfusion.Blazor.Navigations
@inject NavigationManager NavigationManager

<SfSidebar HtmlAttributes="@HtmlAttribute" Width="290px" Target=".main-content" @ref="Sidebar" MediaQuery="(min-width:600px)">
    <ChildContent>
        <div class="main-menu">
            <div>
                <SfTreeView CssClass="main-treeview" @ref="TreeView" ExpandOn="@Expand" TValue="TreeData">
                    <TreeViewFieldsSettings Id="nodeId" Text="nodeText" DataSource="treedata" HasChildren="hasChild" ParentID="pid">
                    </TreeViewFieldsSettings>
                    <TreeViewEvents TValue="TreeData" NodeSelected="onSelect" NodeClicked="onClick"></TreeViewEvents>
                    <TreeViewTemplates>
                        <NodeTemplate>
                            @{
                                var item = (context as TreeData);
                                if (item.icon.ToString() == "question_answer icon")
                                // use material icon for FAQ
                                { <i class="material-icons-outlined icon">question_answer</i>}

                                else
                                // use base icons for other
                                {<i class="@item.icon"></i>}

                                <span class="nodeText">@item.nodeText</span>
                            }
                        </NodeTemplate>
                    </TreeViewTemplates>
                </SfTreeView>
            </div>
        </div>
    </ChildContent>
</SfSidebar>

@code {
    SfTreeView<TreeData> TreeView;
    public SfSidebar Sidebar;
    public ExpandOnSettings Expand = ExpandOnSettings.Click;
    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>()
    {
        {"class", "sidebar-treeview" }
    };

    public class TreeData
    {
        public string nodeId { get; set; }
        public string nodeText { get; set; }
        public string icon { get; set; }
        public bool hasChild { get; set; }
        public string pid { get; set; }
    }
    private List<TreeData> treedata = new List<TreeData>();
    protected override void OnInitialized()
    {
        base.OnInitialized();

        treedata.Add(new TreeData { nodeId = "01", nodeText = "Dashboard", icon = "icon-graph icon" });
        treedata.Add(new TreeData { nodeId = "02", nodeText = "Administration", icon = "icon-globe icon", hasChild = true });
        treedata.Add(new TreeData { nodeId = "02-01", nodeText = "Sites", icon = "icon-map icon", pid = "02" });
        treedata.Add(new TreeData { nodeId = "02-02", nodeText = "Schools", icon = "icon-home icon", pid = "02" });
        treedata.Add(new TreeData { nodeId = "02-03", nodeText = "Teachers", icon = "icon-graduation icon", pid = "02" });
        treedata.Add(new TreeData { nodeId = "02-04", nodeText = "Class List", icon = "icon-people icon", pid = "02" });
        //treedata.Add(new TreeData { nodeId = "02-05", nodeText = "Coordinator-Sites", icon = "icon-organization icon", pid = "02" });
        treedata.Add(new TreeData { nodeId = "02-06", nodeText = "FAQ", icon = "question_answer icon", pid = "02" });
        treedata.Add(new TreeData { nodeId = "02-07", nodeText = "Links", icon = "icon-link icon", pid = "02" });
        treedata.Add(new TreeData { nodeId = "03", nodeText = "Screens", icon = "icon-docs icon" });
        treedata.Add(new TreeData { nodeId = "04", nodeText = "Maintenance", icon = "icon-briefcase icon", hasChild = true });
        treedata.Add(new TreeData { nodeId = "04-01", nodeText = "Configuration", icon = "icon-settings icon", pid = "04" });
        treedata.Add(new TreeData { nodeId = "04-02", nodeText = "Data Import", icon = "icon-cloud-upload icon", pid = "04" });
        treedata.Add(new TreeData { nodeId = "04-05", nodeText = "Lookup Data", icon = "icon-list icon", pid = "04", hasChild = true });
        treedata.Add(new TreeData { nodeId = "04-06", nodeText = "Countries", icon = "icon-flag icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-07", nodeText = "File Import Status", icon = "icon-list icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-08", nodeText = "Genders", icon = "icon-symbol-female icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-09", nodeText = "Languages", icon = "icon-list icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-10", nodeText = "Provinces", icon = "icon-location-pin icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-11", nodeText = "Province Types", icon = "icon-list icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-12", nodeText = "Special Problems", icon = "icon-list icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "04-13", nodeText = "Years", icon = "icon-calendar icon", pid = "04-05" });
        treedata.Add(new TreeData { nodeId = "05", nodeText = "Accounts", icon = "icon-list icon", hasChild = true});
        treedata.Add(new TreeData { nodeId = "05-01", nodeText = "Users", icon = "icon-people icon", pid = "05" });
        treedata.Add(new TreeData { nodeId = "05-02", nodeText = "Roles", icon = "icon-organization icon", pid = "05" });
        treedata.Add(new TreeData { nodeId = "05-03", nodeText = "My Profile", icon = "icon-user icon", pid = "05" });
        treedata.Add(new TreeData { nodeId = "06", nodeText = "Resources", icon = "icon-book-open icon", hasChild = true });
        treedata.Add(new TreeData { nodeId = "06-01", nodeText = "Guide", icon = "icon-notebook icon", pid = "06" });
        treedata.Add(new TreeData { nodeId = "06-03", nodeText = "Reports", icon = "icon-chart icon", pid = "06" });
        treedata.Add(new TreeData { nodeId = "06-04", nodeText = "Documents", icon = "icon-folder-alt icon", pid = "06" });
        treedata.Add(new TreeData { nodeId = "06-05", nodeText = "FAQ", icon = "question_answer icon", pid = "06" });
        treedata.Add(new TreeData { nodeId = "06-06", nodeText = "Links", icon = "icon-link icon", pid = "06" });
        treedata.Add(new TreeData { nodeId = "08", nodeText = "Questions", icon = "icon-list icon" });

    }

    private void onSelect(NodeSelectEventArgs args)
    {
        if (args.NodeData.Id == "02-01")
        {
            NavigationManager.NavigateTo("./sites/index");
        }
        else if (args.NodeData.Id == "02-02")
        {
            NavigationManager.NavigateTo("./schools/index");
        }
        else if (args.NodeData.Id == "02-03")
        {
            NavigationManager.NavigateTo("./teachers/index");
        }
        else if (args.NodeData.Id == "02-04")
        {
            NavigationManager.NavigateTo("./children/index");
        }
        else if (args.NodeData.Id == "02-05")
        {
            NavigationManager.NavigateTo("./coordinators/index");
        }
        else if (args.NodeData.Id == "02-06")
        {
            NavigationManager.NavigateTo("./faq/index");
        }
        else if (args.NodeData.Id == "02-07")
        {
            NavigationManager.NavigateTo("./links/index");
        }
        else if (args.NodeData.Id == "05-01")
        {
            NavigationManager.NavigateTo("./accounts/index");
        }
        else if (args.NodeData.Id == "05-02")
        {
            NavigationManager.NavigateTo("./accounts/rolesindex");
        }
        else if (args.NodeData.Id == "05-03")
        {
            NavigationManager.NavigateTo("./accounts/profile");
        }
        else if (args.NodeData.Id == "04-01")
        {
            NavigationManager.NavigateTo("./configurations/index");
        }
        else if (args.NodeData.Id == "04-02")
        {
            NavigationManager.NavigateTo("./DataImport/index/0");
        }
        else if (args.NodeData.Id == "04-06")
        {
            NavigationManager.NavigateTo("./countries/index");
        }
        else if (args.NodeData.Id == "04-07")
        {
            NavigationManager.NavigateTo("./DataImportStatus/index");
        }
        else if (args.NodeData.Id == "04-08")
        {
            NavigationManager.NavigateTo("./Genders/index");
        }
        else if (args.NodeData.Id == "04-09")
        {
            NavigationManager.NavigateTo("./languages/index");
        }
        else if (args.NodeData.Id == "04-10")
        {
            NavigationManager.NavigateTo("./provinces/index");
        }
        else if (args.NodeData.Id == "04-11")
        {
            NavigationManager.NavigateTo("./provincetypes/index");
        }
        else if (args.NodeData.Id == "04-12")
        {
            NavigationManager.NavigateTo("./specialproblems/index");
        }
        else if (args.NodeData.Id == "04-13")
        {
            NavigationManager.NavigateTo("./years/index");
        }
        else if (args.NodeData.Id == "06-04")
        {
            NavigationManager.NavigateTo("./documents/index");
        }
        else if (args.NodeData.Id == "06-05")
        {
            NavigationManager.NavigateTo("./faq/admin");
        }
        else if (args.NodeData.Id == "06-06")
        {
            NavigationManager.NavigateTo("./links/admin");
        }
        else if (args.NodeData.Id == "01")
        {
            NavigationManager.NavigateTo("./dashboard/index");
        }

    }

    private async void onClick(NodeClickEventArgs args)
    {
        //List<TreeData> NodeDetails = await this.treeView.GetTreeData(args.Node);
        //var Element = new[] { args.Node };
    }
}