@using Syncfusion.Blazor.Navigations
@inject NavigationManager NavigationManager

<SfSidebar HtmlAttributes="@HtmlAttribute" Width="290px" Target=".main-content" @ref="Sidebar" MediaQuery="(min-width:600px)">
    <ChildContent>
        <div class="main-menu">
            <div>
                <!-- removed  IconCss="iconCss" HasChildren="hasChild" ParentID="pid" from Treeview field settings
    removed NodeClicked="onClick" from TreeviewEvents-->
                <SfTreeView CssClass="main-teachertreeview" @ref="TreeView" ExpandOn="@Expand" TValue="TreeData">
                    <TreeViewFieldsSettings Id="nodeId" Text="nodeText" DataSource="treedata">
                    </TreeViewFieldsSettings>
                    <TreeViewEvents TValue="TreeData" NodeSelected="onSelect"></TreeViewEvents>
                    <TreeViewTemplates>
                        <NodeTemplate>
                            @{
                                var item = (context as TreeData);
                                if (item.icon.ToString() == "question_answer icon")
                                    // use material icon for FAQ
                                { <i class="material-icons-outlined icon">question_answer</i>}

                                else
                                    // use base icons for other 
                                {<i class="@item.icon"></i>}

                                <span class="nodeText">@item.nodeText</span>
                            }
                        </NodeTemplate>
                    </TreeViewTemplates>
                </SfTreeView>
            </div>
        </div>
    </ChildContent>
</SfSidebar>

@code {
    SfTreeView<TreeData> TreeView;
    public SfSidebar Sidebar;
    public ExpandOnSettings Expand = ExpandOnSettings.Click;
    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>()
    {
        {"class", "sidebar-treeview" }
    };

    public class TreeData
    {
        public string nodeId { get; set; }
        public string nodeText { get; set; }
        public string icon { get; set; }
        public bool hasChild { get; set; }
        public string pid { get; set; }
    }
    private List<TreeData> treedata = new List<TreeData>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        // default uses simple-line-icons, can use material or fontawesome or fabric
        treedata.Add(new TreeData { nodeId = "01", nodeText = "Dashboard", icon = "icon-graph icon" });
        treedata.Add(new TreeData { nodeId = "02", nodeText = "Class List", icon = "icon-people icon" });
        treedata.Add(new TreeData { nodeId = "03", nodeText = "Resources", icon = "icon-folder-alt icon" });
        treedata.Add(new TreeData { nodeId = "04", nodeText = "Links", icon = "icon-link icon"});
        treedata.Add(new TreeData { nodeId = "05", nodeText = "FAQ", icon = "question_answer icon" });
        treedata.Add(new TreeData { nodeId = "06", nodeText = "Questions", icon = "icon-list icon" });
    }

    private void onSelect(NodeSelectEventArgs args)
    {
        if (args.NodeData.Id == "01")
        {
            NavigationManager.NavigateTo("./Dashboard/index");
        }
        else if (args.NodeData.Id == "02")
        {
            NavigationManager.NavigateTo("./children/index");
        }
        else if (args.NodeData.Id == "03")
        {
            NavigationManager.NavigateTo("./documents/index");
        }
        else if (args.NodeData.Id == "04")
        {
            NavigationManager.NavigateTo("./links/index");
        }
        else if (args.NodeData.Id == "05")
        {
            NavigationManager.NavigateTo("./faq/index");
        }
        else if (args.NodeData.Id == "06")
        {
            NavigationManager.NavigateTo("./SampleQuestions/index");
        }

    }
}
