@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (!string.IsNullOrEmpty(username))
{
    <li class="nav-item d-md-down-none" style="padding-right:20px; font-size: 20px;">
        <div class="cf-identity-name">@username</div>
    </li>    
    <li class="nav-item d-md-down-none" style="padding-top:13px;">
        <form asp-area="" method="post" action="./signout">
            <button style="border:none;" type="submit" href="#" data-toggle="tooltip" data-placement="bottom" title="Log Out"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </li>
}


@code {
    private string username { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            if (user != null)
                username = user.Identity.Name;
            else
                username = string.Empty;
        }
    }
}
