@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Buttons
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject UserSettings UserSettings;
@inject IAccountService accountService;

@if (!string.IsNullOrEmpty(username))
{
    <li class="nav-item d-md-down-none" style="padding-right:20px; font-size: 20px;">
        @if (UserSettings.IsTeacher)
        {
            <div class="float-right">

                <!--Check English or French -->
                <SfSwitch CssClass="handle-text" OnLabel="French" OffLabel="English" @bind-Checked="@isFrench" ValueChange="OnEnglishChange"></SfSwitch>
            </div>
        }
    </li>
    <li class="nav-item d-md-down-none" style="padding-right:20px; font-size: 20px;">
        <div class="cf-identity-name">@username</div>
    </li>
    <li class="nav-item d-md-down-none" style="padding-top:13px;">
        <form asp-area="" method="post" action="./signout">
            <button style="border:none;" type="submit" href="#" data-toggle="tooltip" data-placement="bottom" title="Log Out"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </li>
}


@code {
    private string username { get; set; }

    private Boolean isFrench { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            username = UserSettings.UserName;

            if (UserSettings.Language == "English")
                isFrench = false;
            else
                isFrench = true;
        }
    }

    private async void OnEnglishChange(Syncfusion.Blazor.Buttons.ChangeEventArgs e)
    {
        if (e.Checked)
            UserSettings.Language = "French";
        else
            UserSettings.Language = "English";

        await accountService.UpdateUserLanguageAsync(UserSettings);

        var url = NavigationManager.Uri;
        NavigationManager.NavigateTo(url, true);

        StateHasChanged();
    }
}
