<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-backdrop fade show" @onclick="Cancel"></div>
    <div class="modal-dialog" style="z-index: 1050"> <!-- Pop it above the backdrop -->
        <div class="modal-content">
            <div class="modal-header">
                <img src="./images/Help.png" style="width:30px;" /> <h5 class="modal-title">@ModalTitle</h5>
                <button type="button" class="close" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @((MarkupString)ModalBody)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public string ModalTitle { get; set; }

    [Parameter]
    public string ModalBody { get; set; }

    async Task Close() => await ModalInstance.CloseAsync(ModalResult.Ok(true));
    async Task Cancel() => await ModalInstance.CancelAsync();

}