@page "/EDIQuestionnaires/SectionB/{ChildId:int}"
@page "/EDIQuestionnaires/SectionB/"
@inherits SectionBase;
@using Microsoft.AspNetCore.Components.Authorization
@using EDI.Web.Shared.Questionnaires
@using static EDI.Web.Data.Enumerations
@using System.Linq.Dynamic.Core
@using Blazored.Modal
@using Blazored.Modal.Services
@using Syncfusion.Blazor.Navigations

@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;
@inject UserSettings UserSettings;
@inject ServiceContext dbContext;
@inject ISharedService sharedService;

<QuestionnaireHeader teacherData=@teacherData IsReadOnly=@IsReadOnly ProvinceName=@province QuestionnaireId=@QuestionnaireId marginTop="15px"></QuestionnaireHeader>

<!--Convert this to a component with readonly parameter
@if (!IsReadOnly)
{
    <div class="card-footer">
        <button class="savebutton" @onclick="Save"><i class="fa fa-save bg whiteiconcolor"></i> Submit</button>
    </div>
}
    -->
@code {



    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            try
            {
                checkChildId();
                initializeCounts();
                if (UserSettings.IsTeacher)
                {
                    //check if child is not it teachers class
                    predicate = "Id = " + ChildId + " AND TeacherId = " + UserSettings.TeacherId;
                    if (!dbContext.Children.Where(predicate).Any())
                        NavigationManager.NavigateTo("./children/index");
                }
                QuestionnaireId = dbContext.Questionnaires.Where(q => q.QuestionnaireName == "Section B" && q.YearId == UserSettings.YearId).Select(q => q.Id).Single();
                getData();
            }
            catch (Exception ex)
            {
                NavigationManager.NavigateTo("./children/index");
            }

        }
    }


}