@page "/newsFeeds/edit/{Id:int}"
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Navigations;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService toastService;
@inject INewsFeedService newsFeedService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@inject IModalService Modal;
@inject ServiceContext dbContext;
@inject UserSettings UserSettings;

@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
}

@if (!string.IsNullOrEmpty(@ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ErrorMessage
    </div>
}
<br />

<div class="row">
    <div class="col-md-10">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:50px;">
            <div class="card-header">
                <strong>Edit NewsFeed</strong>
                <div class="pull-right">
                    <button class="resetbutton" data-toggle="tooltip" data-placement="bottom" title="Reset" @onclick="Reset"><i class="fa fa-undo fa-1x whiteiconcolor"></i></button>
                    <button class="addnewbutton" data-toggle="tooltip" data-placement="bottom" title="Add" @onclick="Add"><i class="fa fa-plus fa-1x whiteiconcolor"></i></button>
                    <button class="editbutton" data-toggle="tooltip" data-placement="bottom" title="Back" @onclick="Exit"><i class="fa fa-sign-out-alt fa-1x whiteiconcolor"></i></button>
                </div>
            </div>
            <br />
            <div class="col-md-10" style="margin-left: 24px;">
                <SfAccordion>
                    <AccordionItems>
                        <AccordionItem Header="Details" Expanded="true">
                            <ContentTemplate>
                                <NewsForm @ref="newsFeedform1" NewsFeedModel="@NewsFeedModel" IsViewOnly="false" HandleValidSubmit="HandleValidSubmit" />
                            </ContentTemplate>
                        </AccordionItem>
                    </AccordionItems>
                </SfAccordion>
            </div>            
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string Sender { get; set; }

    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    private NewsFeedItemViewModel NewsFeedModel { get; set; } = new NewsFeedItemViewModel();

    NewsForm newsFeedform1 = new NewsForm();

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            NewsFeedModel = await newsFeedService.GetNewsFeedItem(Id);
        }
    }

    private async void HandleValidSubmit()
    {
        //Console.WriteLine("OnValidSubmit");
        var totalItems = await newsFeedService.GetDuplicateCount(NewsFeedModel.Title, newsFeedform1.NewsFeedModel.Id);

        if (totalItems > 0)
        {
            ErrorMessage = "The same NewsFeed has already existed.";
            toastService.ShowError(ErrorMessage);
        }
        else
        {
            NewsFeedModel.YearId = newsFeedform1.provinces.ProvinceConfigModel.YearID;
            if (NewsFeedModel.YearId == 0)
            {
                ErrorMessage = "Year is required.";
                toastService.ShowError(ErrorMessage);
                return;
            }

            if (string.IsNullOrEmpty(NewsFeedModel.Title))
            {
                ErrorMessage = "Title is required.";
                toastService.ShowError(ErrorMessage);
                return;
            }

            NewsFeedModel.Text = newsFeedform1.rte.BindValue;
            NewsFeedModel.Alberta = newsFeedform1.provinces.ProvinceConfigModel.Alberta;
            NewsFeedModel.BritishColumbia = newsFeedform1.provinces.ProvinceConfigModel.BritishColumbia;
            NewsFeedModel.Manitoba = newsFeedform1.provinces.ProvinceConfigModel.Manitoba;
            NewsFeedModel.NewBrunswick = newsFeedform1.provinces.ProvinceConfigModel.NewBrunswick;
            NewsFeedModel.NewfoundlandandLabrador = newsFeedform1.provinces.ProvinceConfigModel.NewfoundlandandLabrador;
            NewsFeedModel.NovaScotia = newsFeedform1.provinces.ProvinceConfigModel.NovaScotia;
            NewsFeedModel.Nunavut = newsFeedform1.provinces.ProvinceConfigModel.Nunavut;
            NewsFeedModel.Ontario = newsFeedform1.provinces.ProvinceConfigModel.Ontario;
            NewsFeedModel.PrinceEdwardIsland = newsFeedform1.provinces.ProvinceConfigModel.PrinceEdwardIsland;
            NewsFeedModel.Quebec = newsFeedform1.provinces.ProvinceConfigModel.Quebec;
            NewsFeedModel.Saskatchewan = newsFeedform1.provinces.ProvinceConfigModel.Saskatchewan;
            NewsFeedModel.YukonTerritory = newsFeedform1.provinces.ProvinceConfigModel.YukonTerritory;
            NewsFeedModel.NorthwestTerritories = newsFeedform1.provinces.ProvinceConfigModel.NorthwestTerritories;

            await newsFeedService.UpdateNewsFeedAsync(NewsFeedModel);

            Message = "NewsFeed updated successfully.";

            toastService.ShowSuccess(Message);

            StateHasChanged();
        }
    }

    private void Exit()
    {
        NavigationManager.NavigateTo("./newsFeeds/index");
    }

    private async void Reset()
    {
        NewsFeedModel = await newsFeedService.GetNewsFeedItem(Id);
    }

    private void Add()
    {
        NavigationManager.NavigateTo("./newsFeeds/new");
    }
}