@page "/Countries/index"
@using EDI.Web.Shared.Modals;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Components.Authorization;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject IToastService toastService;
@inject ICountryService countryService;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime;
@inject ServiceContext dbContext;
@inject AppIdentityDbContext identityContext;

@inject UserSettings UserSettings;

<div class="row">
    <div class="col-md-8">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:30px;">
            <div class="card-header">
                <strong>Countries</strong>
                <div class="pull-right">

                </div>
            </div>
            <div class="card-body">
                <div class="row"></div>
                <br />
                @if (countrys == null)
                {
                <p><em>Loading...</em></p>
                }
                else
                {
                <SfGrid ID="GridCountry" @ref="Grid" DataSource="@countrys" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowResizing="true" ShowColumnMenu="true" Toolbar="Toolbaritems" AllowExcelExport="true" AllowPdfExport="true">
                    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="false"></GridEditSettings>
                    <GridEvents OnToolbarClick="ToolbarClick" RowSelected="RowSelect" OnRecordDoubleClick="RecordDoubleClickHandler" TValue="CountryItemViewModel"></GridEvents>
                    <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                    <GridPageSettings PageSize="20" PageSizes="true"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(CountryItemViewModel.Code) HeaderText="Code" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="30"></GridColumn>
                        <GridColumn Field=@nameof(CountryItemViewModel.English) HeaderText="English" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="30"></GridColumn>
                        <GridColumn Field=@nameof(CountryItemViewModel.French) HeaderText="French" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="30"></GridColumn>
                        <GridColumn Field=@nameof(CountryItemViewModel.ISO2CountryCode) HeaderText="ISO2 Code" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="10"></GridColumn>
                        <GridColumn Field=@nameof(CountryItemViewModel.ISO3CountryCode) HeaderText="ISO3 Code" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="10"></GridColumn>
                    </GridColumns>
                </SfGrid>
                }

            </div>

        </div>
    </div>
</div>

@code {
    [CascadingParameter] public IModalService ModalService { get; set; }
    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    SfGrid<CountryItemViewModel> Grid;    
    IEnumerable<CountryItemViewModel> countrys;

    private List<Object> Toolbaritems = new List<Object>() { new ItemModel() { Text = "Add", TooltipText = "Add New", PrefixIcon = "e-add", Id = "Add" }, new ItemModel() { Text = "Edit", TooltipText = "Edit", PrefixIcon = "e-edit", Id = "Edit" }, "Delete", "ExcelExport", "Search" };

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else if (!UserSettings.IsAdmin)
        {
            NavigationManager.NavigateTo("./dashboard/index");
        }
        else
        {
            var allcountrys = await Task.FromResult(dbContext.Countries.Where(p => p.YearId == UserSettings.YearId).OrderBy(p => p.Code).ToList());

            List<CountryItemViewModel> sivm = new List<CountryItemViewModel>();

            foreach (var country in allcountrys)
            {
                var acountry = new CountryItemViewModel();

                acountry.Id = country.Id;
                acountry.Code = country.Code;
                acountry.English = country.English;
                acountry.French = country.French;
                acountry.ISO2CountryCode = country.ISO2CountryCode;
                acountry.ISO3CountryCode = country.ISO3CountryCode;

                sivm.Add(acountry);
            }

            this.rowid = 0;

            countrys = sivm;
        }
    }

    private int rowid { get; set; }

    private void RowSelect(RowSelectEventArgs<CountryItemViewModel> args)
    {
        rowid = args.Data.Id;
    }

    CountryItemViewModel CountryModel { get; set; }

    public async void ToolbarClick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        var parameters = new ModalParameters();
        if (args.Item.Id == "GridCountry_pdfexport")
        {
            await this.Grid.ExportToPdfAsync();
        }
        if (args.Item.Id == "GridCountry_excelexport")
        {
            await this.Grid.ExportToExcelAsync();
        }
        if (args.Item.Id == "GridCountry_csvexport")
        {
            await this.Grid.ExportToCsvAsync();
        }
        if (args.Item.Id == "Add")
        {
            CountryModel = new CountryItemViewModel();
            parameters.Add("CountryModel", CountryModel);
            var options = new ModalOptions()
                {
                    Position = ModalPosition.Middle

                };
            var modal = ModalService.Show<CountryWindow>("New EDI Country", parameters,options);
            var result = await modal.Result;

            NewWindowModalClosed(result);

            ////*Modal.OnClose += NewWindowModalClosed;
        }
        if (args.Item.Id == "Edit")
        {
            CountryModel = new CountryItemViewModel();
            var rowdata = this.countrys.Where(t => t.Id == rowid).FirstOrDefault();

            if (rowdata != null)
            {
                CountryModel.Code = rowdata.Code;
                CountryModel.English = rowdata.English;
                CountryModel.French = rowdata.French;
                CountryModel.ISO2CountryCode = rowdata.ISO2CountryCode;
                CountryModel.ISO3CountryCode = rowdata.ISO3CountryCode;
                CountryModel.Id = rowdata.Id;
                parameters.Add("CountryModel", CountryModel);
                var options = new ModalOptions()
                    {
                        Position = ModalPosition.Middle

                    };
                var modal = ModalService.Show<CountryWindow>("Edit Country", parameters,options);
                var result = await modal.Result;

                ExistWindowModalClosed(result);
                //////*Modal.OnClose += ExistWindowModalClosed;
            }
        }
        if (args.Item.Id == "GridCountry_delete")
        {
            var options = new ModalOptions()
                {
                    Position = ModalPosition.Middle

                };
            var modal = ModalService.Show<ConfirmDelete>("Confirm Delete",options);
            var result = await modal.Result;

            ConfirmDeleteModalClosed(result);
        }
    }


    async void NewWindowModalClosed(Blazored.Modal.Services.ModalResult modalResult)
    {
        if (modalResult.Data is CountryItemViewModel)
        {
            CountryModel = (CountryItemViewModel)modalResult.Data;

            var allcountrys = await Task.FromResult(dbContext.Countries.OrderBy(p => p.Code).ToList());

            List<CountryItemViewModel> sivm = new List<CountryItemViewModel>();

            foreach (var country in allcountrys)
            {
                var acountry = new CountryItemViewModel();

                acountry.Id = country.Id;
                acountry.Code = country.Code;
                acountry.English = country.English;
                acountry.French = country.French;
                acountry.ISO2CountryCode = country.ISO2CountryCode;
                acountry.ISO3CountryCode = country.ISO3CountryCode;

                sivm.Add(acountry);
            }

            countrys = sivm;
        }
        ////*Modal.OnClose -= NewWindowModalClosed;
        await this.Grid.Refresh();

        StateHasChanged();
        this.rowid = 0;
    }

    void ExistWindowModalClosed(Blazored.Modal.Services.ModalResult modalResult)
    {
        if (modalResult.Data is CountryItemViewModel)
        {
            CountryModel = (CountryItemViewModel)modalResult.Data;

            var tmp = new List<CountryItemViewModel>();

            foreach (var item in this.countrys)
            {
                if (item.Id == CountryModel.Id)
                {
                    item.Code = CountryModel.Code;
                    item.English = CountryModel.English;
                    item.French = CountryModel.French;
                    item.ISO2CountryCode = CountryModel.ISO2CountryCode;
                    item.ISO3CountryCode = CountryModel.ISO3CountryCode;
                }
                tmp.Add(item);
            }

            this.countrys = tmp;
        }
        ////*Modal.OnClose -= ExistWindowModalClosed;

        this.rowid = 0;
        this.Grid.Refresh();

        StateHasChanged();
    }

    async void ConfirmDeleteModalClosed(Blazored.Modal.Services.ModalResult modalResult)
    {
        if (!modalResult.Cancelled)
        {
            await countryService.DeleteCountryAsync(this.rowid);

            var tmp = new List<CountryItemViewModel>();
            foreach (var item in countrys)
            {
                if (item.Id != rowid)
                    tmp.Add(item);
            }
            this.countrys = tmp;
            this.rowid = 0;

            //this.Grid.Refresh();
            StateHasChanged();
        }

        ////*Modal.OnClose -= ConfirmDeleteModalClosed;
    }

    private async void RecordDoubleClickHandler(RecordDoubleClickEventArgs<CountryItemViewModel> args)
    {
        var parameters = new ModalParameters();
        CountryModel = new CountryItemViewModel();
        var rowdata = this.countrys.Where(t => t.Id == rowid).FirstOrDefault();

        if (rowdata != null)
        {
            CountryModel.Code = rowdata.Code;
            CountryModel.English = rowdata.English;
            CountryModel.French = rowdata.French;
            CountryModel.ISO2CountryCode = rowdata.ISO2CountryCode;
            CountryModel.ISO3CountryCode = rowdata.ISO3CountryCode;
            CountryModel.Id = rowdata.Id;
            parameters.Add("CountryModel", CountryModel);
            var options = new ModalOptions()
                {
                    Position = ModalPosition.Middle

                };
            //ModalService.Show<CountryWindow>("Edit Country", parameters,options);

            var modal = ModalService.Show<CountryWindow>("Edit Country",options);
            var result = await modal.Result;

            ExistWindowModalClosed(result);
            ////*Modal.OnClose += ExistWindowModalClosed;
        }
    }
}
