@inherits QuestionnaireBase
@using Syncfusion.Blazor.Calendars


<div class="card-body border border-primary rounded">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>@QuestionText</h4>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-9">                                    
                                    <div id="datepicker-control" class="datepicker">
                                        <SfDatePicker Value="@DateValue" TValue="DateTime?" Placeholder="@QuestionText" Format="yyyy-MM-dd"></SfDatePicker>
                                    </div>
                                </div>

                                <div class="col-2">
                                    @if (Config.HasHelp)
                                    {
                                        <button type="button" class="btn btn-primary" @onclick="@(() => ShowModal("This Modal Header is Hidden",HelpText))"><i class="icon-question"></i> Help</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    @code {
        [Parameter]
        public DateTime CurrentValue { get; set; }

        public DateTime DateValue { get; set; } = DateTime.Now;

        protected override async Task OnInitializedAsync()
        {
            GetQuestionText();
            DateValue = Convert.ToDateTime(CurrentValue);
        }
    }
