@using Microsoft.AspNetCore.Http;
@using Blazored.Modal
@inject IModalService ModalService
<!-- Modal -->



<div class="simple-form">
    <div class="container">
        <div class="modal-content">
            <p><img src="./images/Help.png" style="width:30px;" /> <h4>@ModalTitle</h4></p> <br />
            <div class="modal-body">
                @((MarkupString)ModalBody)
            </div>
            <div class="modal-footer">
                <button @onclick="@Cancel" class="btn btn-outline-secondary ">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code 
{
    [CascadingParameter] ModalParameters Parameters { get; set; }

    ModalPartViewModel ModalPartModel { get; set; }

    [Parameter]
    public string ModalTitle { get; set; }

    [Parameter]
    public string ModalBody { get; set; }

    void Cancel()
    {
        ModalService.Cancel();
    }

    protected override async Task OnInitializedAsync()
    {
        ModalPartModel = Parameters.Get<ModalPartViewModel>("ModalPartModel");
        ModalBody = ModalPartModel.ModalBody;
        ModalTitle = ModalPartModel.ModalTitle;

        //ModalTitle = Parameters.Get<ModalParameters>
        //("ModalTitle").ToString();
    }
}
