@using static EDI.Web.Data.Enumerations
@inject ISharedService sharedService;
@inject ServiceContext dbContext;
@inject NavigationManager NavigationManager;
@inject UserSettings UserSettings;

<div class="row">
    @{
        foreach (var questionnaire in questionnaires)
        {
            if (questionnaire.Id == QuestionnaireId)
            {
                <div class="col-2">
                    @questionnaire.QuestionnaireName
                </div>
            }
            else
            {
            <div class="col-2">
                <!-- check completion status - colour green or red-->
                <button type="button" class="btn btn-outline-danger">
                    @questionnaire.QuestionnaireName <!--<span class="badge badge-light">97</span>-->
                </button>
            </div>
            }
            }
            }
    </div>


                @code {
                    [Parameter]
                    public int QuestionnaireId { get; set; }

        private bool isChildQuestionnaire;
            private List<Questionnaire> questionnaires;
            private int numberOfQuestionnaires;
            private int columns;


            protected override async Task OnInitializedAsync()
            {
                if (!UserSettings.IsAuthenticated)
                {
                    NavigationManager.NavigateTo("./login");
                }
                else
                {
                    isChildQuestionnaire = dbContext.Questionnaires.Where(c => c.Id == QuestionnaireId).Select(c => c.IsChildQuestionnaire).Single();
                    getData();
                }
            }

            private void getData()
            {
                questionnaires = dbContext.Questionnaires.Where(c => c.IsChildQuestionnaire == isChildQuestionnaire).OrderBy(c => c.Sequence).ToList();
                numberOfQuestionnaires = questionnaires.Count();
                columns = (int)(numberOfQuestionnaires / 12);
            }
                }
