@using static EDI.Web.Data.Enumerations
@inject ISharedService sharedService;
@inject ServiceContext dbContext;

@foreach (var config in configs)
{
    if (config.IsHeader)
    {
        _Text = sharedService.GetConfigText(config);
        <div class="card-header">
            <strong>@_Text</strong>
        </div>
    }
    else
    {
        // bind to value from demographic_data

        switch ((InputTypes)config.InputTypeId)
        {
            case InputTypes.RadioButtons:
                <RadioButtonsPart Config=@config CurrentValue=1></RadioButtonsPart>
                break;
            case InputTypes.DatePicker:
                <DatePickerPart Config=@config CurrentValue=@(new DateTime(2011, 01, 18))></DatePickerPart>
                break;
            case InputTypes.TextBox:
                <TextPart Config=@config data=@data CurrentValue="Change me once here"></TextPart>
                break;
            case InputTypes.SelectBox:
                <SelectBoxPart Config=@config CurrentValue="2"></SelectBoxPart>
                break;
            case InputTypes.CheckBox:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) needs to be crafted</p>
                </div>
                break;
            default:
                <div class="card-body border">
                    <p>@Enum.GetName(typeof(InputTypes), config.InputTypeId) needs to be crafted</p>
                </div>
                break;
        }
    }
}

@code {
    [Parameter]
    public List<QuestionnairesConfiguration> configs { get; set; }

    [Parameter]
    public QuestionnairesDataDemographic data { get; set; }

    [Parameter]
    public bool IsReadonly { get; set; }
    private string _Text;

}