@using static EDI.Web.Data.Enumerations
@inject ISharedService sharedService;
@inject ServiceContext dbContext;
@inject UserSettings UserSettings;
@inject NavigationManager NavigationManager;
@using System.Linq.Dynamic.Core
@using Blazored.Modal
@using Blazored.Modal.Services
@using Syncfusion.Blazor.Navigations
@using System.Collections.Specialized;

<SfTab>
    <TabEvents Selected="OnTabSelected" Selecting="OnTabSelecting"></TabEvents>
    <TabItems>
        @foreach (var item in questionnaires)
        {
            var _name = sharedService.GetQuestionnaireText(item);
            <TabItem >
                <ChildContent>
                    <TabHeader Text=@_name></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    @if (@configs != null)
                    {
                        @if (IsAdmin)
                        {
                            <QuestionnaireBuilder configs=@configs data=@data IsReadonly="true"></QuestionnaireBuilder>
                        }
                        else if (IsTeacher)
                        {
                            <QuestionnaireBuilder configs=@configs data=@data IsReadonly="false"></QuestionnaireBuilder>
                        }
                        else
                        {
                            <div class="card-header">
                                <strong>Sample for Coordinator</strong>
                            </div>
                            <div class="card-body">
                            </div>
                        }
                    }
                </ContentTemplate>
            </TabItem>
        }

        
    </TabItems>
</SfTab>

@code {
    [Parameter]
    public List<QuestionnairesConfiguration> configs { get; set; }

    [Parameter]
    public Child data{ get; set; }

    private int SelectedTab = 0;

    // look to move this to a session variable and carry throughout the session
    private bool IsAdmin { get; set; }
    private bool IsTeacher { get; set; }
    private bool IsCoordinator { get; set; }
    private List<Questionnaire> questionnaires;

    public class TabObject
    {
        public int Index { get; set; }
        public int Id { get; set; }
    }

    private List<TabObject> ListTab;

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            @if (UserSettings.IsAdmin)
            {
                IsAdmin = true;
                //var configs = await Task.FromResult(dbContext.QuestionnairesConfigurations.Where(t => t.QuestionnaireId == 1).ToList());
                var pred = "t => t.IsChildQuestionnaire == true && t.YearId ==1";
                questionnaires = dbContext.Questionnaires.Where(pred).OrderBy(t=>t.Sequence).ToList();


            }
            else if (UserSettings.IsTeacher)
            {
                IsTeacher = true;
                // Add filter for province
                //var predicate = "p => p.IsTeacherFaq.Value && p." + UserSettings.Province + ".Value";
                //allfaqs = await Task.FromResult(dbContext.Faqs.Where(predicate).OrderBy(p => p.Sequence).ToList());
                var pred = "t => t.IsChildQuestionnaire == true && t.YearId ==1";
                questionnaires = dbContext.Questionnaires.Where(pred).OrderBy(t => t.Sequence).ToList();
            }
            else
            {
                IsCoordinator = true;
            }

            var count = questionnaires.Count();

            ListTab = new List<TabObject>();

            List<int> seqlist = new List<int>();

            foreach (var quest in questionnaires)
            {
                seqlist.Add(quest.Id);
            }

            for (var i = 0; i < count; i++)
            {
                for (var j = 0; j < count; j++)
                {
                    if (i == j)
                    {
                        var tab = new TabObject();
                        tab.Index = i;
                        tab.Id = seqlist[j];
                        ListTab.Add(tab);
                    }
                }
            }
        }
    }

    private string Translate(string word)
    {
        return sharedService.GetTranslate(word);
    }

    public void OnTabSelected(Syncfusion.Blazor.Navigations.SelectEventArgs args)
    {
        for (var i = 0; i < ListTab.Count; i++)
        {
            if(args.SelectedIndex == ListTab[i].Index)
            {
                var pred = "t => t.QuestionnaireId == " + ListTab[i].Id;

                if (UserSettings.IsTeacher)
                {
                    pred = "t => t.QuestionnaireId == " + ListTab[i].Id +" && " + UserSettings.Province + "==true";
                }
                configs = dbContext.QuestionnairesConfigurations.Where(pred).ToList();

                switch ((Questionnaires)i)
                {
                    case Questionnaires.Demographics:
                        dbContext.Entry(data).Collection(q => q.QuestionnairesDataDemographics).Load();
                        break;
                    case Questionnaires.SectionB:
                        dbContext.Entry(data).Collection(q => q.QuestionnairesDataSectionBs).Load();                        
                        break;

                }
            }
        }
    }

    public void OnTabSelecting(Syncfusion.Blazor.Navigations.SelectingEventArgs args)
    {

    }

    }
