@inherits QuestionnaireBase;

<div class="row">
    <h4>@QuestionText</h4>
</div>

@code
{

    // option set
    private List<LookupSetOption> _LookupSetOptions;

    protected override async Task OnInitializedAsync()
    {
        // get the question and help text
        GetQuestionText();
        // check to see if question is readonly 
        ReadonlyQuestion = Config.IsReadOnly;
        if (Config.HasLookupEntity)
        {
            // get the lookupset options
            _LookupSetOptions = GetLookupSetOptions(Config.LookupEntityId.GetValueOrDefault(1));
        }
    }
}
