@inherits QuestionnaireBase
@using EDI.Web.Shared.Questions

<div class="card-body border border-primary rounded">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>@QuestionText</h4>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-9">
                                    <!--<SelectBox  SelectModel=@SelectModel />-->
                                    CODE THIS
                                </div>

                                <div class="col-2">
                                    @if (Config.HasHelp)
                                    {
                                    <button type="button" class="btn btn-primary" @onclick="@(() => ShowModal("e-EDI Help",HelpText))"><i class="icon-question"></i> Help</button>
                                    }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @code {
        [Parameter]
        public string CurrentValue { get; set; }

        public SelectViewModel SelectModel { get; set; }

        protected override async Task OnInitializedAsync()
        {
            GetQuestionText();
            SelectModel = new SelectViewModel();
            //SelectModel.Options 
            //SelectModel.Name = Config.VariableName;
            
            SelectModel.Placeholder = QuestionText;
            SelectModel.Value = CurrentValue;

        }
    }
