@inherits QuestionnaireBase

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="col-12">
                    <h4>@QuestionText</h4>
                    <textarea name=@Config.EntityField id=@Config.EntityField rows="4" style="width:100%; max-width: 100%;resize:none;">@CurrentValue</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CurrentValue { get; set; }

    //<InputTextArea name=@DataColumn id=@DataColumn rows="4" style="width:100%; max-width: 100%;resize:none;">@DataValue</InputTextArea>
    protected override async Task OnInitializedAsync()
    {

    }
}
