@inherits QuestionBase
@using Syncfusion.Blazor.Buttons

<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="col-12">
                    <div>
                        <h4>@QuestionText</h4>
                        @foreach (var item in new string[] { "Andrew", "Bryan", "Ashlynn" })
                        {
                            <SfRadioButton name="Dev" Checked=@(StringValue.Equals(item, StringComparison.OrdinalIgnoreCase)) @onchange="RadioSelection" Label=@item Value=@item></SfRadioButton>
                        }
                    </div>                    
                    <div>
                        <label>Selected Value is @StringValue</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] 
    public int OptionSetId { get; set; } = 0;

    private void RadioSelection(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        StringValue = args.Value.ToString();
    }
}

