@inject ISharedService sharedService;

<select Class="form-control" value="@OptionsModel.Value" @onchange="@(e =>OptionChange(e))">
    @if (OptionsModel.LookupSetOptions != null)
    {
        @foreach (var option in OptionsModel.LookupSetOptions)
        {
            _optionLabel = sharedService.GetOptionText(option);
            <option value="@option.Value">@_optionLabel</option>
        }
    }
</select>

@code {
    [Parameter]
    public OptionsViewModel OptionsModel { get; set; }

    private string _optionLabel;

    private void OptionChange(ChangeEventArgs e)
    {
        string selectedString = e.Value.ToString();

        OptionsModel.ID = 0;

        if (int.TryParse(selectedString, out int newid))
        {
            OptionsModel.ID = newid;
        }
    }
}