@page "/schools"
@page "/schools/edit/{Id:int}"
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Navigations;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService toastService;
@inject ISchoolService schoolService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@inject IModalService Modal;
@inject ServiceContext dbContext;

@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
}

@if (!string.IsNullOrEmpty(@ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ErrorMessage
    </div>
}
<br />

<div class="row">
    <div class="col-md-10">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:50px;">
            <div class="card-header">
                <strong>Edit School</strong>
                <div class="pull-right">
                    <button class="resetbutton" data-toggle="tooltip" data-placement="bottom" title="Reset" @onclick="Reset"><i class="fa fa-undo fa-1x whiteiconcolor"></i></button>
                    <button class="editbutton" data-toggle="tooltip" data-placement="bottom" title="Back" @onclick="Exit"><i class="fa fa-sign-out-alt fa-1x whiteiconcolor"></i></button>
                </div>
            </div>
            <br />
            <div class="col-md-7">
                <SfAccordion>
                    <AccordionItems>
                        <AccordionItem Header="Details" Expanded="true">
                            <ContentTemplate>
                                <SchoolForm @ref="schoolform1" SchoolModel="@SchoolModel" HandleValidSubmit="HandleValidSubmit" />
                            </ContentTemplate>
                        </AccordionItem>
                    </AccordionItems>
                </SfAccordion>
            </div>
            <br />
            @if (teachers != null)
            {
                <div class="col-md-11">
                    <SfGrid ID="GridTeacher" @ref="Grid" DataSource="@teachers" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowResizing="true" ShowColumnMenu="true" Toolbar="@(new List<string>() { "Search" })">
                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" ShowDeleteConfirmDialog="false"></GridEditSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridPageSettings PageSize="20" PageSizes="true"></GridPageSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                <GridSortColumn Field="TeacherName" Direction="SortDirection.Ascending"></GridSortColumn>
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridColumns>
                            <GridColumn HeaderText="Teacher #" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="25">
                                <Template>
                                    @{
                                        var teacher = (context as TeacherItemViewModel);
                                        <a target="_blank" href="Teachers/Edit/@teacher.Id">@teacher.TeacherNumber</a>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.TeacherName) HeaderText="Name" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.Ediyear) Type="ColumnType.Number" HeaderText="Year" Width="10"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.SchoolName) HeaderText="School" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.Email) HeaderText="Email" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(TeacherItemViewModel.PhoneNumber) HeaderText="Phone" Width="30"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    private SchoolItemViewModel SchoolModel { get; set; } = new SchoolItemViewModel();

    SchoolForm schoolform1 = new SchoolForm();

    SfGrid<TeacherItemViewModel> Grid;

    IEnumerable<TeacherItemViewModel> teachers;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else if (!user.IsInRole("Administrator"))
        {
            NavigationManager.NavigateTo("./dashboard/index");
        }
        else
        {
            SchoolModel = await schoolService.GetSchoolItem(Id);

            var allteachers = await Task.FromResult(dbContext.Teachers.Where(p => p.SchoolId == Id).OrderBy(p => p.TeacherNumber).ToList());

            List<TeacherItemViewModel> sivm = new List<TeacherItemViewModel>();

            foreach (var teacher in allteachers)
            {
                var ateacher = new TeacherItemViewModel();

                ateacher.Id = teacher.Id;
                ateacher.TeacherName = teacher.TeacherName;
                ateacher.TeacherNumber = teacher.TeacherNumber;
                ateacher.Email = teacher.Email;
                ateacher.PhoneNumber = teacher.PhoneNumber;
                ateacher.YearId = teacher.YearId;

                var year = dbContext.Years.Where(p => p.Id == teacher.YearId).FirstOrDefault();
                ateacher.Ediyear = year.Ediyear;

                ateacher.SchoolId = teacher.SchoolId;
                var school = dbContext.Schools.Where(p => p.Id == teacher.SchoolId).FirstOrDefault();
                ateacher.SchoolName = school.SchoolName;
                ateacher.SchoolNumber = school.SchoolNumber;

                sivm.Add(ateacher);
            }
            teachers = sivm;
        }
    }

    private async void HandleValidSubmit()
    {
        //Console.WriteLine("OnValidSubmit");
        var totalItems = await schoolService.GetDuplicateCount(SchoolModel.SiteId, SchoolModel.SchoolNumber, schoolform1.SchoolModel.Id);

        if (totalItems > 0)
        {
            ErrorMessage = "The same School has already existed.";
            toastService.ShowError(ErrorMessage);
        }
        else
        {
            await schoolService.UpdateSchoolAsync(schoolform1.SchoolModel);

            Message = "School updated successfully.";

            toastService.ShowSuccess(Message);

            StateHasChanged();
        }
    }

    private void Exit()
    {
        NavigationManager.NavigateTo("./schools/index");
    }

    private async void Reset()
    {
        SchoolModel = await schoolService.GetSchoolItem(Id);
    }
}