@page "/Schools/New"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService toastService;
@inject ISchoolService SchoolService
@inject IModalService Modal
@inject NavigationManager NavigationManager
@inject UserSettings UserSettings;

@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
}

@if (!string.IsNullOrEmpty(@ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ErrorMessage
    </div>
}

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:50px;">
            <div class="card-header">
                <strong>New School</strong>
                <div class="pull-right">
                    <button class="resetbutton" data-toggle="tooltip" data-placement="bottom" title="Reset" @onclick="Reset"><i class="fa fa-undo fa-1x whiteiconcolor"></i></button>
                    <button class="editbutton" data-toggle="tooltip" data-placement="bottom" title="Back" @onclick="Exit"><i class="fa fa-sign-out-alt fa-1x whiteiconcolor"></i></button>
                </div>
            </div>
            <SchoolForm @ref="schoolform1" SchoolModel="@SchoolModel" HandleValidSubmit="HandleValidSubmit" />
        </div>

    </div>
</div>

@code {
    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    private SchoolItemViewModel SchoolModel { get; set; } = new SchoolItemViewModel();

    SchoolForm schoolform1 = new SchoolForm();

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else if (!UserSettings.IsAdmin)
        {
            NavigationManager.NavigateTo("./dashboard/index");
        }
    }

    private async void HandleValidSubmit()
    {
        //Console.WriteLine("OnValidSubmit");
        var totalItems = await SchoolService.GetDuplicateCount(SchoolModel.SiteId, SchoolModel.SchoolNumber);

        if (totalItems > 0)
        {
            ErrorMessage = "The same School has already existed.";
            toastService.ShowError(ErrorMessage);
        }
        else
        {
            int id = await SchoolService.CreateSchoolAsync(schoolform1.SchoolModel);

            Message = "New School added successfully.";
            toastService.ShowSuccess(Message);
            NavigationManager.NavigateTo("./Schools/edit/" + id);
        }
    }

    private void Exit()
    {
        NavigationManager.NavigateTo("./Schools/index");
    }

    private async void Reset()
    {
        SchoolModel = new SchoolItemViewModel();
        StateHasChanged();
    }
}
