@page "/Faq/New/{Sender}"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService toastService;
@inject IFaqService FaqService

@inject NavigationManager NavigationManager
@inject UserSettings UserSettings;

@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
}

@if (!string.IsNullOrEmpty(@ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ErrorMessage
    </div>
}

<br />

<div class="row">
    <div class="col-md-10">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:50px;">
            <div class="card-header">
                <strong>New Faq</strong>
                <div class="pull-right">
                    <button class="resetbutton" data-toggle="tooltip" data-placement="bottom" title="Reset" @onclick="Reset"><i class="fa fa-undo fa-1x whiteiconcolor"></i></button>
                    <button class="editbutton" data-toggle="tooltip" data-placement="bottom" title="Back" @onclick="Exit"><i class="fa fa-sign-out-alt fa-1x whiteiconcolor"></i></button>
                </div>
            </div>
            <FaqForm @ref="faqform1" FaqModel="@FaqModel" HandleValidSubmit="HandleValidSubmit" />
        </div>

    </div>
</div>

@code {
    [CascadingParameter] public IModalService ModalService { get; set; }
    [Parameter]
    public string Sender { get; set; }
    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    private FaqItemViewModel FaqModel { get; set; } = new FaqItemViewModel();

    FaqForm faqform1 = new FaqForm();

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
    }

    private async void HandleValidSubmit()
    {
        //Console.WriteLine("OnValidSubmit");
        var totalItems = await FaqService.GetDuplicateCount(FaqModel.Question);

        if (totalItems > 0)
        {
            ErrorMessage = "The same Faq has already existed.";
            toastService.ShowError(ErrorMessage);
        }
        else
        {
            FaqModel.YearId = faqform1.provinces.ProvinceConfigModel.YearID;
            if (FaqModel.YearId == 0)
            {
                ErrorMessage = "Year is required.";
                toastService.ShowError(ErrorMessage);
                return;
            }

            faqform1.FaqModel.Answer = faqform1.rte.BindValue;
            FaqModel.Alberta = faqform1.provinces.ProvinceConfigModel.Alberta;
            FaqModel.BritishColumbia = faqform1.provinces.ProvinceConfigModel.BritishColumbia;
            FaqModel.Manitoba = faqform1.provinces.ProvinceConfigModel.Manitoba;
            FaqModel.NewBrunswick = faqform1.provinces.ProvinceConfigModel.NewBrunswick;
            FaqModel.NewfoundlandandLabrador = faqform1.provinces.ProvinceConfigModel.NewfoundlandandLabrador;
            FaqModel.NovaScotia = faqform1.provinces.ProvinceConfigModel.NovaScotia;
            FaqModel.Nunavut = faqform1.provinces.ProvinceConfigModel.Nunavut;
            FaqModel.Ontario = faqform1.provinces.ProvinceConfigModel.Ontario;
            FaqModel.PrinceEdwardIsland = faqform1.provinces.ProvinceConfigModel.PrinceEdwardIsland;
            FaqModel.Quebec = faqform1.provinces.ProvinceConfigModel.Quebec;
            FaqModel.Saskatchewan = faqform1.provinces.ProvinceConfigModel.Saskatchewan;
            FaqModel.YukonTerritory = faqform1.provinces.ProvinceConfigModel.YukonTerritory;
            FaqModel.NorthwestTerritories = faqform1.provinces.ProvinceConfigModel.NorthwestTerritories;
            int id = await FaqService.CreateFaqAsync(faqform1.FaqModel);

            Message = "New Faq added successfully.";
            toastService.ShowSuccess(Message);
            NavigationManager.NavigateTo("./Faq/edit/" + id + "/" + Sender);
        }
    }

    private void Exit()
    {
        if (Sender == "admin")
            NavigationManager.NavigateTo("./Faq/admin");
        else
            NavigationManager.NavigateTo("./Faq/index");
    }

    private async void Reset()
    {
        FaqModel = new FaqItemViewModel();
        StateHasChanged();
    }
}
