@page "/documents/index"
@using Microsoft.AspNetCore.Http
@using Syncfusion.Blazor.FileManager;
@inject ISharedService sharedService;
@inject UserSettings UserSettings;
@inject NavigationManager NavigationManager;
@inject IHttpContextAccessor httpContextAccessor
@inject StateContainer StateContainer
@implements IDisposable

<div class="row">
    <div class="col-md-12">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:30px;">
            <div class="card-header">
                <strong>@Translate("Document Management")</strong>
                <div class="pull-right">

                </div>
            </div>
            <div class="card-body">
                <SfFileManager TValue="FileManagerDirectoryContent">
                    <FileManagerAjaxSettings Url="/api/FileManager/FileOperations"
                                             GetImageUrl="/api/FileManager/GetImage"
                                             UploadUrl="/api/FileManager/Upload"
                                             DownloadUrl="/api/FileManager/Download">
                    </FileManagerAjaxSettings>
                </SfFileManager>
            </div>

        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        if (!UserSettings.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            StateContainer.OnChange += StateHasChanged;
            var UserName = httpContextAccessor.HttpContext.User.Identity.Name;

            StateContainer.SetUsername(UserName);
        }
    }

    private string Translate(string word)
    {
        return sharedService.GetTranslate(word);
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
