@page "/sites"
@page "/sites/edit/{Id:int}"
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Navigations;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToastService toastService;
@inject ISiteService siteService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@inject IModalService Modal;
@inject ServiceContext dbContext;

@if (!string.IsNullOrEmpty(@Message))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Message
    </div>
}

@if (!string.IsNullOrEmpty(@ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ErrorMessage
    </div>
}
<br />

<div class="row">
    <div class="col-md-10">
        <div class="card" style="box-shadow: 0 8px 32px rgba(77,101,117,0.35);border-radius: 12px;border-color: transparent;margin-top: 95px;margin-left:50px;">
            <div class="card-header">
                <strong>Edit Site</strong>
                <div class="pull-right">
                    <button class="resetbutton" data-toggle="tooltip" data-placement="bottom" title="Reset" @onclick="Reset"><i class="fa fa-undo fa-1x whiteiconcolor"></i></button>
                    <button class="editbutton" data-toggle="tooltip" data-placement="bottom" title="Back" @onclick="Exit"><i class="fa fa-sign-out-alt fa-1x whiteiconcolor"></i></button>
                </div>
            </div>
            <br />
            <div class="col-md-7">
                <SfAccordion>
                    <AccordionItems>
                        <AccordionItem Header="Details" Expanded="true">
                            <ContentTemplate>
                                <SiteForm @ref="siteform1" SiteModel="@SiteModel" HandleValidSubmit="HandleValidSubmit" />
                            </ContentTemplate>
                        </AccordionItem>
                    </AccordionItems>
                </SfAccordion>
            </div>
            <br />
            @if (schools != null)
            {
                <div class="col-md-11">
                    <SfGrid ID="GridInvoice" @ref="Grid" DataSource="@schools" AllowPaging="true" AllowSorting="true" AllowFiltering="true" AllowGrouping="true" AllowResizing="true" ShowColumnMenu="true" Toolbar="@(new List<string>() {"Search" })">
                        <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" ShowDeleteConfirmDialog="false"></GridEditSettings>                        
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridPageSettings PageSize="20" PageSizes="true"></GridPageSettings>
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                        <GridColumns>
                            <GridColumn HeaderText="School #" TextAlign="Syncfusion.Blazor.Grids.TextAlign.Center" Width="25">
                                <Template>
                                    @{
                                        var school = (context as SchoolItemViewModel);
                                        <a target="_blank" href="Schools/Edit/@school.Id">School @school.SchoolNumber</a>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.SchoolName) HeaderText="Name" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.Description) HeaderText="Description" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.Country) HeaderText="Country" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.Province) HeaderText="Province" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.City) HeaderText="City" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.SiteNumber) HeaderText="Site" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(SchoolItemViewModel.ElpschoolValue) HeaderText="ELP" Width="20"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            }
            <br />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    private string Message { get; set; }
    private string ErrorMessage { get; set; }

    private SiteItemViewModel SiteModel { get; set; } = new SiteItemViewModel();

    SiteForm siteform1 = new SiteForm();

    SfGrid<SchoolItemViewModel> Grid;

    IEnumerable<SchoolItemViewModel> schools;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("./login");
        }
        else
        {
            SiteModel = await siteService.GetSiteItem(Id);            

            var allschools = await Task.FromResult(dbContext.Schools.Where(p => p.SiteId == Id).OrderBy(p => p.SchoolNumber).ToList());

            List<SchoolItemViewModel> sivm = new List<SchoolItemViewModel>();

            foreach (var school in allschools)
            {
                var aschool = new SchoolItemViewModel();

                aschool.Id = school.Id;
                aschool.SchoolName = school.SchoolName;
                aschool.SchoolNumber = school.SchoolNumber;
                aschool.Description = school.Description;

                var site = dbContext.Sites.Where(p => p.Id == school.SiteId).FirstOrDefault();
                aschool.SiteNumber = site.SiteNumber;

                aschool.CountryId = school.CountryId;
                var country = dbContext.Countries.Where(p => p.Id == school.CountryId).FirstOrDefault();
                aschool.Country = country.Name;

                aschool.ProvinceId = school.ProvinceId;
                var province = dbContext.Provinces.Where(p => p.Id == school.ProvinceId).FirstOrDefault();
                aschool.Province = province.Name;

                aschool.City = school.City;
                //aschool.Elpschool = school.Elpschool;
                //aschool.ElpschoolValue = school.Elpschool.HasValue && school.Elpschool.Value ? "Yes" : "No";

                sivm.Add(aschool);
            }

            schools = sivm;
        }
    }

    private async void HandleValidSubmit()
    {
        //Console.WriteLine("OnValidSubmit");
        var totalItems = await siteService.GetDuplicateCount(SiteModel.SiteNumber, siteform1.SiteModel.Id);

        if (totalItems > 0)
        {
            ErrorMessage = "The same Site has already existed.";
            toastService.ShowError(ErrorMessage);
        }
        else
        {
            await siteService.UpdateSiteAsync(siteform1.SiteModel);

            Message = "Site updated successfully.";

            toastService.ShowSuccess(Message);

            StateHasChanged();
        }
    }

    private void Exit()
    {
        NavigationManager.NavigateTo("./sites/index");
    }

    private async void Reset()
    {
        SiteModel = await siteService.GetSiteItem(Id);
    }
}